name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git libffi-dev libssl-dev \
          zip unzip autoconf libtool pkg-config zlib1g-dev libncurses6 \
          libncursesw6 libtinfo6 cmake patch gettext libltdl-dev
          pip install --upgrade pip
          pip install buildozer cython virtualenv
          
      - name: Build with Buildozer
        run: |
          rm -rf .buildozer
          buildozer -v android debug
        env:
          BUILDOZER_ALLOW_KIVY_USER_ROOT: 1

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk-debug
          path: bin/*.apk
